@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Hotel WCCI";
}
<style>
    .home {
        text-align: center;
    }

    IMG.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="home">
    <h1 class="fancyFont">HOTEL WCCI</h1>
    <h2 class="fancyFont">Come stay for awhile</h2>
    <br />
    <img src="~/images/hotel.jpg" class="img-responsive displayed" />
</div>